/* CSS declarations go here */
body {
	font-family: 'Open Sans', sans-serif;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}
.content {

	text-align: center;
}
h1 {
  font-size: 7rem;
  margin: 0;
  font-weight: 700;
}

span {
	font-weight: 300;
}